.container .row [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container .row .col-1-12 {
      width: 8.33333%; }
    .container .row .col-2-12 {
      width: 16.66667%; }
    .container .row .col-3-12 {
      width: 25%; }
    .container .row .col-4-12 {
      width: 33.33333%; }
    .container .row .col-5-12 {
      width: 41.66667%; }
    .container .row .col-6-12 {
      width: 50%; }
    .container .row .col-7-12 {
      width: 58.33333%; }
    .container .row .col-8-12 {
      width: 66.66667%; }
    .container .row .col-9-12 {
      width: 75%; }
    .container .row .col-10-12 {
      width: 83.33333%; }
    .container .row .col-11-12 {
      width: 91.66667%; }
    .container .row .col-12-12 {
      width: 100%; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.green {
  color: #00abce; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.first-top {
  background: #00abce;
  color: white; }

.first-bottom {
  background: #f4f4f4;
  position: relative; }

.title {
  text-align: center;
  font-size: 1.5em; }
  .title h1 {
    font-size: 1em;
    display: inline; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3%; }
  .box i {
    color: #00abce; }

.circle {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #00abce;
  text-align: center;
  padding: auto;
  color: white;
  font-size: 1.5em;
  font-weight: 600; }

.circleGr {
  background: #e4e4e4; }

.circle1 {
  position: relative; }

.circle1::before {
  content: "";
  display: inline-block;
  width: 700%;
  height: 5px;
  background: #00abce;
  position: absolute;
  top: 45%;
  left: -950%; }

.circle1::after {
  content: "";
  display: inline-block;
  width: 700%;
  height: 5px;
  background: #e4e4e4;
  position: absolute;
  top: 45%;
  right: -950%; }

.text {
  text-align: center; }
  .text .step {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600; }

.second-top {
  padding: 3% 10%;
  text-align: center;
  line-height: 2;
  font-size: 1.3em; }

.form-title {
  margin: 2% 0; }

.form-title-top {
  color: #00abce;
  font-size: 1.5em;
  font-weight: 600; }

.form-title-bottom {
  color: #878787;
  font-weight: 600; }

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2%; }
  .form-row label {
    font-size: 1.2em;
    display: inline-block;
    width: 20%;
    margin: 0 5%;
    margin-top: 2%; }
  .form-row input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #878787;
    width: 80%;
    height: 3em;
    background: #f4f4f4;
    padding-bottom: 3%;
    padding-left: 1%; }
  .form-row select {
    border-radius: 5px;
    outline: none;
    border: 1px solid #878787;
    width: 80%;
    height: 3em;
    background: white;
    padding: auto 3%; }
  .form-row .button {
    width: 100%;
    text-align: right; }
  .form-row .btn {
    text-align: center;
    border-radius: 10px;
    width: 50%;
    background: #00ba90;
    border: none;
    outline: none;
    cursor: pointer;
    color: white; }
    .form-row .btn .btn-top {
      font-size: 1.5em;
      font-weight: 600;
      margin: 5px auto; }
    .form-row .btn .btn-bottom {
      margin: 5px auto; }

@media (max-width: 1030px) {
  .circle1::before {
    width: 700%;
    left: -750%; }
  .circle1::after {
    width: 700%;
    right: -750%; } }

@media (max-width: 830px) {
  .circle1::before {
    width: 600%;
    left: -700%; }
  .circle1::after {
    width: 600%;
    right: -700%; } }

@media (max-width: 768px) {
  .circle1::before {
    display: none; }
  .circle1::after {
    display: none; }
  .first-bottom {
    padding: 5%; } }

/*# sourceMappingURL=main.css.map */
